Make: <%= @car.make %>
<br/>
Year: <%= @car.model_year %>
<br/>
Speed: <%= @car.speed %>Km/h

<a class="btn btn-normal" href="/cars/accelerate">Accelerate</a>

<a class="btn btn-normal" href="/cars/brake">Brake</a>

<br/>

Lights: <%= @car.lights %>

<a class="btn btn-normal" href="/cars/lights_on">Lights</a>
